In [1]:
import pandas as pd

In [14]:
# Read in
ls = pd.read_csv('data/Lower Secondary.csv', encoding='latin')
pr = pd.read_csv('data/Primary.csv', encoding='latin')
us = pd.read_csv('data/Upper Secondary.csv', encoding='latin')

# Set Levels
ls['Level'] = ['Lower-Secondary']*ls.shape[0]
us['Level'] = ['Upper-Secondary']*us.shape[0]
pr['Level'] = ['Primary']*pr.shape[0]

# See valu counts of regions
ls['Region'].value_counts()

ECA     54
SSA     49
LAC     37
EAP     33
MENA    19
SA       8
Name: Region, dtype: int64

In [15]:
ls['Region'].value_counts()

ECA     54
SSA     49
LAC     37
EAP     33
MENA    19
SA       8
Name: Region, dtype: int64

In [16]:
ls.dropna()['Region'].value_counts()

SSA     41
LAC     19
ECA     15
EAP     11
SA       8
MENA     7
Name: Region, dtype: int64

In [18]:
ls.dropna().loc[
    ls['Region']=='ECA'
]

,ISO3,Countries and areas,Region,Sub-region,Development Regions,Total,Female,Male,Rural_Residence,Urban_Residence,Poorest_Wealth quintile,Second_Wealth quintile,Middle_Wealth quintile,Fourth_Wealth quintile,Richest_Wealth quintile,Data source,Time period,Level
1,ALB,Albania,ECA,EECA,More Developed,2.0,2.0,2.0,2.0,2.0,4.0,2.0,2.0,1.0,1.0,DHS 2017-18,2018.0,Lower-Secondary
8,ARM,Armenia,ECA,EECA,Less Developed,1.0,1.0,1.0,0.0,1.0,1.0,1.0,2.0,0.0,0.0,DHS 2015-16,2016.0,Lower-Secondary
16,BLR,Belarus,ECA,EECA,More Developed,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,MICS 2012,2012.0,Lower-Secondary
22,BIH,Bosnia and Herzegovina,ECA,EECA,More Developed,1.0,1.0,1.0,1.0,1.0,4.0,0.0,1.0,0.0,0.0,MICS 2011-12,2012.0,Lower-Secondary
67,GEO,Georgia,ECA,EECA,Less Developed,1.0,1.0,2.0,1.0,1.0,2.0,0.0,1.0,2.0,0.0,MICS 2018,2018.0,Lower-Secondary
91,KAZ,Kazakhstan,ECA,EECA,Less Developed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,MICS 2015,2015.0,Lower-Secondary
95,KGZ,Kyrgyzstan,ECA,EECA,Less Developed,1.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,1.0,1.0,MICS 2018,2018.0,Lower-Secondary
118,MNE,Montenegro,ECA,EECA,More Developed,1.0,2.0,1.0,3.0,0.0,6.0,0.0,0.0,0.0,0.0,MICS 2018,2018.0,Lower-Secondary
132,MKD,North Macedonia,ECA,EECA,More Developed,2.0,2.0,1.0,0.0,3.0,4.0,3.0,0.0,0.0,0.0,MICS 2018-19,2019.0,Lower-Secondary
146,MDA,Republic of Moldova,ECA,EECA,More Developed,3.0,1.0,4.0,2.0,3.0,8.0,3.0,2.0,1.0,1.0,MICS 2012,2012.0,Lower-Secondary
158,SRB,Serbia,ECA,EECA,More Developed,1.0,1.0,1.0,2.0,0.0,5.0,0.0,0.0,0.0,0.0,MICS 2014,2014.0,Lower-Secondary
176,TJK,Tajikistan,ECA,EECA,Less Developed,3.0,4.0,1.0,3.0,2.0,4.0,3.0,2.0,2.0,2.0,DHS 2017,2017.0,Lower-Secondary
184,TUR,Turkey,ECA,EECA,Less Developed,3.0,3.0,2.0,3.0,2.0,6.0,2.0,1.0,2.0,0.0,DHS style 2013,2013.0,Lower-Secondary
185,TKM,Turkmenistan,ECA,EECA,Less Developed,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,MICS 2015-16,2016.0,Lower-Secondary
189,UKR,Ukraine,ECA,EECA,More Developed,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,2.0,MICS 2012,2012.0,Lower-Secondary

In [6]:
chosen_region = 'SA'
ls = ls.loc[ls['Region']==chosen_region].reset_index(drop=True)
us = us.loc[us['Region']==chosen_region].reset_index(drop=True)
pr = pr.loc[pr['Region']==chosen_region].reset_index(drop=True)

In [7]:
# Compile a tidy df with all levels

df_tidy = []

for df in [pr, ls, us]:
    
    # Change col names to non-spaced verions
    df.columns = [
        'ISO3','Country','Region','SubRegion','DevelopmentRegion','Total',
        'Female', 'Male','RuralResidence','UrbanResidence',
        'PoorestWealthQuintile','SecondWealthQuintile','MiddleWealthQuintile','FourthWealthQuintile','RichestWealthQuintile',
        'DataSource','TimePeriod','Level'
    ]
    
    for index, row in df.iterrows():

        # Append Totals
        df_tidy.append([
            row['ISO3'], row['Country'], row['Level'], 'Total', 'Total', row['Total'], row['Total']
        ])

        # Append Gender
        for gender in ['Male', 'Female']:
            df_tidy.append([
                row['ISO3'], row['Country'], row['Level'], 'Gender', gender, row[gender], row['Total']
            ])

        # Append Urban/Rural
        for residence in ['RuralResidence', 'UrbanResidence']:
            df_tidy.append([
                row['ISO3'], row['Country'], row['Level'], 'Residence', residence, row[residence], row['Total']
            ])


df_tidy = pd.DataFrame(df_tidy)
df_tidy.columns = ['ISO3', 'Country', 'Level', 'DemoType', 'DemoCategory', 'DemoValue', 'TotalValue']

df_tidy.head()

  ISO3      Country    Level   DemoType    DemoCategory  DemoValue  TotalValue
0  AFG  Afghanistan  Primary      Total           Total       37.0        37.0
1  AFG  Afghanistan  Primary     Gender            Male       28.0        37.0
2  AFG  Afghanistan  Primary     Gender          Female       47.0        37.0
3  AFG  Afghanistan  Primary  Residence  RuralResidence       42.0        37.0
4  AFG  Afghanistan  Primary  Residence  UrbanResidence       19.0        37.0

In [9]:
df[['ISO3', 'Country', 'Region', 'DevelopmentRegion', 'Total', 'Female', 'Male', 'RuralResidence', 'UrbanResidence']]

,ISO3,Country,Region,DevelopmentRegion,Total,Female,Male,RuralResidence,UrbanResidence
0,AFG,Afghanistan,SA,Least Developed,58.0,73.0,43.0,63.0,45.0
1,BGD,Bangladesh,SA,Least Developed,31.0,26.0,37.0,32.0,30.0
2,BTN,Bhutan,SA,Least Developed,39.0,40.0,39.0,44.0,27.0
3,IND,India,SA,Less Developed,23.0,26.0,21.0,26.0,17.0
4,MDV,Maldives,SA,Less Developed,25.0,23.0,27.0,37.0,12.0
5,NPL,Nepal,SA,Least Developed,15.0,15.0,15.0,17.0,14.0
6,PAK,Pakistan,SA,Less Developed,46.0,54.0,38.0,54.0,31.0
7,LKA,Sri Lanka,SA,Less Developed,19.0,16.0,23.0,19.0,19.0

In [ ]:
df_tidy

In [ ]:
df_tidy.to_csv('data/all_levels_tidy_'+chosen_region+'.csv', index=False)

In [ ]:
df[['ISO3', 'Country', 'Region', 'Total', 'Female', 'Male', 'RuralResidence', 'UrbanResidence', 'Level']]

In [ ]:
# all_levels = pd.concat([pr, ls, us], axis=0).dropna().reset_index(drop=True)
# all_levels['Level'].value_counts()

# # Change col names to non-spaced verions
# all_levels.columns = [
#     'ISO3','Country','Region','SubRegion','DevelopmentRegion','Total',
#     'Female', 'Male','RuralResidence','UrbanResidence',
#     'PoorestWealthQuintile','SecondWealthQuintile','MiddleWealthQuintile','FourthWealthQuintile','RichestWealthQuintile',
#     'DataSource','TimePeriod','Level'
# ]

In [ ]:
# demographics = {
#     'Total': ['Total']
#     'Gender': ['Male', 'Female'], 
#     'Residence': ['RuralResidence', 'UrbanResidence']
# }

In [ ]:
all_levels.to_csv('data/all_levels_'+chosen_region+'.csv', index=False)